@page
@model HRManagement.Pages.Employees.EditModel
@{
    ViewData["Title"] = "Edit Employee";
}

<h1>Обновления информации сотрудника</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.Id" />
            
            <div class="form-group">
                <label asp-for="Employee.FirstName" class="control-label">Имя</label>
                <input asp-for="Employee.FirstName" class="form-control" />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LastName" class="control-label">Фамилия</label>
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
    
            <div class="form-group">
                <label asp-for="Employee.Email" class="control-label"></label>
                <input asp-for="Employee.Email" class="form-control" />
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>
    
            <div class="form-group">
                <label asp-for="Employee.PhoneNumber" class="control-label">Телефон</label>
                <input asp-for="Employee.PhoneNumber" class="form-control" />
                <span asp-validation-for="Employee.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Employee.Salary" class="control-label">Зарплата</label>
                <input asp-for="Employee.Salary" class="form-control" />
                <span asp-validation-for="Employee.Salary" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Employee.PositionId" class="control-label">Должность</label>
                <select asp-for="Employee.PositionId" class="form-control" 
                        asp-items="Model.Positions">
                    <option value="">-- Выбрат должность --</option>
                </select>
                <span asp-validation-for="Employee.PositionId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Employee.DepartmentId" class="control-label">Отдел</label>
                <select asp-for="Employee.DepartmentId" class="form-control" 
                        asp-items="Model.Departments">
                    <option value="">-- Выбрать отдел --</option>
                </select>
                <span asp-validation-for="Employee.DepartmentId" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-3">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-secondary">Назад к списку</a>
            </div>
        </form>
    </div>
</div>