@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-3 mb-4">Добро пожаловать! 🎉</h1>
        <p class="lead">Изучайте создание современных веб-приложений на <a href="https://learn.microsoft.com/aspnet/core" target="_blank" class="text-primary">ASP.NET Core</a>.</p>
        
        <a href="/Employees" class="btn btn-success btn-lg mt-4">
            Перейти к сотрудникам
        </a>
    </div>
</div>
